# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
annotation_backend/media/models/*
!annotation_backend/media/models/.gitkeep

# Backup files # 
*.bak 

# If you are using PyCharm # 
.idea/
.vscode/


# Jupyter Notebook 
.ipynb_checkpoints 

.frontend/yarn.lock