captum
datasets
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
ijson
ipython
notebook
numpy
pandas
psycopg2-binary
PyJWT
scikit-learn
scipy
torch
transformers
markdown 
whitenoise
